# MacOs
.DS_Store

# GCP SA credential files
*.json

# Environment variables
.env

# Terraform state file
terraform.tfstate
terraform.tfstate.backup

# Terraform lock file
.terraform.lock.hcl

# Terraform directory
.terraform
